<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="/">Mystery Word Game</a></li>
        <li><a href="/scoreboard">Leaderboard</a></li>
      </ul>
    </div>

    <div class="container">
      <form class="add-score-form" action="/scoreboard" method="POST">
        <input type="text" name="name" placeholder="Name" />
        <input id="score-submit-btn" type="submit" value="Add Your Score">
      </form>
    </div>


  </body>
</html>
