<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>
  <body>
    <form class="add-score-form" action="/scoreboard" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="image" placeholder="Image URL" />
      <input type="submit" value="Add Your Score" />
    </form>
  </body>
</html>
