<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="add-score-form" action="/scorebard" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="image" placeholder="Image URL" />
      <input type="submit" value="Add Your Score" />
    </form>
  </body>
</html>
