<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>
  <body>
    {{ ^difficultyChosen }}
    <h2>Welcome to the Mystery Word Game! Please choose your level of difficulty.</h2>
    <a href="/easy">EASY</a>
    <a href="/medium">MEDIUM</a>
    <a href="/hard">HARD</a>
    {{ /difficultyChosen }}
    {{ #difficultyChosen }}
    <div class="container">
      <div id="counter-div">
        <h2>Number of guesses remaining: <span id="numOfGuessRemaining">{{ guessesRemaining }}</span></h2>
        <h2>Letters Guessed: <span id="guessed-letters">{{ #guesses }}<span>{{ . }}, </span>{{ /guesses }}</span></h2>
      </div>
      <h1 id="game-title">Mystery Word</h1>
      <h1 id="magic-word">
        {{ #blankArr }}
        <span class="word-letter">{{ . }}</span>
        {{ /blankArr }}
      </h1>
      <div class="guess-div">
        {{ #playing }}
        <form class="" action="/guess" method="POST">
          <input type="text" name="guess" maxlength="1" autofocus />
        </form>
        {{ /playing }}
        {{ ^playing }}
        <h3>{{ gameOverMsg }}</h3>
        <a href="/playagain">Play Again</a>
        {{ #didWin }}
        <a href="/addScore">Add Score to Leaderboard</a>
        {{ /didWin }}
        {{ /playing }}
      </div>
      <div class="">
          <h2 id="message">
            {{ #alreadyGuessed }}
            You already guessed this letter. Guess again.
            {{ /alreadyGuessed }}
          </h2>
          <h1>{{ errorMessage }}</h1>
      </div>
    </div>
    {{ /difficultyChosen }}
  </body>
</html>
