<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>{{ errorMessage }}</h1>
    <h1 id="magic-word">
      {{ #blankArr }}
      <span class="word-letter">{{ . }}</span>
      {{ /blankArr }}
    </h1>
    <div class="guess-div">
      <form class="" action="/guess" method="POST">
        <input type="text" name="guess" maxlength="1" autofocus />
      </form>
    </div>
    <div class="">
      <div id="counter-div">
        <h2>Number of guesses remaining:</h2>
        <h1 id="numOfGuessRemaining">{{ guessesRemaining }}</h1>
        <h2>Letters Guessed:</h2>
        <h3 id="guessed-letters">
          {{ #guesses }}
          <span>{{ . }}</span>
          {{ /guesses }}
        </h3>
        <h2 id="message">
          {{ #alreadyGuessed }}
          You already guessed this letter. Guess again.
          {{ /alreadyGuessed }}
        </h2>
      </div>
    </div>
  </body>
</html>
