<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Leaderboard</h1>
    <ol>
      {{ #leaderboard }}
      <li>
        <strong>{{ name }}</strong> - {{ score }}
      </li>

      {{ /leaderboard }}
    </ol>
  </body>
</html>
